{% extends 'Hood/base.html' %}
{% load static %}


{% block content %}
<div class="container">
    <div class="text-center mt-5 mb-2">
        {% comment %} <a href="{% url 'new-information' %}">
            <button class="btn btn-lg btn-warning">Post A Notification</button>
        </a> {% endcomment %}
    </div>
    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Information</th>
                <th scope="col">Posted by</th>
                <th scope="col">Date</th>
            </tr>
        </thead>
        <tbody>
            {% for info in informations %}
            <tr data-toggle="modal" data-target="#{{info.id}}">
                <td>{{info.title}}</td>
                <td>{{info.information|safe|truncatechars:85}}</td>
                <td>{{info.user}}</td>
                <td>{{info.post_date|date:"M d, Y"}}</td>
            </tr>
            <!-- Modal -->
            <div class="modal fade" id="{{info.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content text-center">
                        <div class="modal-header text-center">
                            <h3 class="text-center">{{info.title}}</h3>
                        </div>
                        <div class="modal-body">
                              <img class="card-img-top" class="img-responsive" src="{{info.info_photo.url}}" data-target="#extraModal{{info.id}}" data-toggle="modal" size="80px200">
                            <p class="pmodal">{{info.information|safe}}</p>
                        </div>
                        <div class="modal-footer" style="display:block;">
                          
                            <p><span style="font-weight:bold;">Posted on:</span>
                                {{info.post_date|date:"M d, Y"}}</p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}