{% extends 'Hood/base.html' %}
{% load static %}
{% block content %}
{% load bootstrap4 %}

<div class="container">
     <div class="text-center mt-5 mb-2">
        <a href="{% url 'add_post' %}">
            <button class="btn btn-lg btn-warning">Create Post</button>
        </a> 
    </div>

  <div class="row">
    {% for post in posts %}
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="card">
        <div class=" card-body">
          <h5 class="card-title">Title: {{post.title}} posted by {{post.username}}</h5> 
          <p class="card-text">{{post.post| safe}}</p>
          <a href="" data-target="#extraModal{{post.id}}" data-toggle="modal" class="card-link">Read More </a>
          
          <a style="float: right"href="/post/{{post.id}}">
            View & Comment 
          </a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% for post in posts %}
<!-- Modal -->
<div class="modal fade" id="extraModal{{post.id}}" tabindex="-1" role="dialog" aria-labelledby="extraModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title" id="exampleModalLongTitle"> <b> {{post.title}}</b> posted by  <b>{{post.username}}</b></h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
      </div>
      <div class="modal-body">
        
        <img class="card-img-top" class="img-responsive" src="{{post.photo.url}}" data-target="#extraModal{{post.id}}" data-toggle="modal" size="80px200">
        <br>
        <hr>
       
        <p class="card-text"> <b>Bio: </b>  {{post.post|safe}} </p>
       
        <label>Posted on: <b> {{post.post_date|date:" M d Y" }} </b></label>
         <h5 class="card-subtitle mb-2 text-muted text-center">Mtaa: {{post.neighbourhood}}</h5>
        <hr>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %} 
{% endblock %}