{% extends 'Hood/base.html' %}
{% load static %}
{% block content %}
{% load bootstrap4 %}

<div class="container">
  <div class="text-center mt-5 mb-2">
    <a href="">
      <button class="btn btn-warning">Create Post</button>
    </a>
  </div>

  <div class="row">
    {% for post in posts %}
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="card">
        <div class=" card-body">
          <a href="/post/{{post.id}}">
            <h5 class="card-title">{{post.title}}</h5>
          </a>
          <a href="/user/{{post.username}}">
            <h6 class="card-subtitle mb-2 text-muted">{{post.username}}</h6>
          </a>
          <p class="card-text">{{post.post| safe}}</p>
          <a href="/post/{{post.id}}" class="card-link">Continue reading</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}