{% extends 'Hood/base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block content %}

<div id="Registration">
  <div class="container">
      <div class="col-md-12 mt-3">
        <br>
          <h1 class="text-center text-light"style="font-size: 50px">Authorities</h1>
          <hr>
        </div>
      <div class="row">
        {% for security in securities %}
        <section class="global-page-header"style="border-radius: 15px; border-top: 2px solid white">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        <h2 class="fw-bold text-light">{{security.name}}</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <hr>
    <section class="portfolio-single">
        <div class="container text-light">
            <div class="row">
              
                <div class="col-md-6">
                    <div class="portfolio-single-img">
                    <br><br> <br>
                        <img src="{% static 'images/authorities.jpg' %}"style="border-radius: 10px; box-shadow: 5px 5px 10px rgba(3,3,3,0.7);" class="card-img-top image-fluid" height="300px" width="550px" alt="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="portfolio-content">
                        <h3 class="subtitle fw-bold text-dark">Contacts Details</h3>
                        <br>
                            <div class="modal-footer" style="display:block;">
                              <br>
                                <p><span><b>Phone Number:</b></span> {{security.contact}}</p>
                                <p><span><b>Address:</b></span> {{security.address}}</p>
                                <p><span><b>Email:</b></span> {{security.email}}</p>
                            </div>
                    
                    </div>
                </div>
            </div>
        </div>
    </section>
        {% endfor %}
   </div>
  </div>
</div>

{% endblock %}
{% comment %} 
<div class="container">
  <h1 class="mt-3">Security Section</h1>
  <div class="row">
  
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title" data-toggle="modal" data-target="#{{security.id}}"></h3>
        </div>
      </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="{{security.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content text-center">
          <div class="modal-header text-center">
            <h3 class="text-center">{{security.name}}</h3>
          </div>
          <div class="modal-body">
            <h4 class="text-center">Contacts</h4>
            <p>Phone Number: </p>
            <p>Address: {{security.address}}</p>
          </div>
          <div class="modal-footer">

          </div>

        </div>
      </div>
    </div>
    {% endfor %}
  </div>

</div>
{% endblock %} {% endcomment %}