{% extends 'Hood/base.html' %}
{% load static %}
{% load bootstrap4 %}


{% block content %}
  {% for post in posts %}
<div class="container">
  <h4 class="card-title mt-3 text-center"><strong>{{post.title}}</strong></h4>
  <a href="/user/{{post.username}}">
    <h6 class="card-subtitle mb-2 text-muted text-center">Posted by {{post.username}}</h6>
  </a>
  <div class="card">
       <img class="card-img-top" src="{{post.photo.url}}" alt="post" class="img-fluid"  style="border-radius: 10px; box-shadow: 5px 5px 10px rgba(3,3,3,0.7);">
    <div class="card-body">

      <p class="card-text">{{post.post | safe}}</p>
     <h6 class="card-subtitle mb-2 text-muted text-center">Posted on {{post.post_date}} by {{post.username}}</h6>
          <h6 class="card-subtitle mb-2 text-muted text-center">Mtaa: {{post.neighbourhood}}</h6>
    </div>
    <div class="card-footer">
      {% if comments%}
      <h4 class="text-center">Comments</h4>
      {% for comment in comments %}
      <p>
        <strong>{{comment.username.username}}</strong> {{comment.comment}}
      </p>
      {% endfor %}

      {%else %}
      <h3 class="text-center">No comments made for this blog post yet</h3>
      <hr>
      {% endif %}

      <form action="/post/{{post.id}}" method="post" enctype="multipart/form-data">
        {%csrf_token%}

        {% bootstrap_form form%}
        <div class="text-center">
          <input id="votes-input" type="submit" class="btn btn-success btn-lg" value="Post">
        </div>
      </form>
    </div>
  </div>

</div>
{% endfor %}
{% endblock %}