{% extends "Hood/base.html" %}
{% load bootstrap4 %}
{% load static %}
{% block content %}
<div id="Registration">
  <div class="container text-light">
    <br>
       <h3 class=""> <b>{{ profile.user }}</b> Profile Info</h3>
       <h4 class="">Mtaa: <b>{{ profile.neighbourhood }}</b></h4>
       <hr>
        <div class="row">  
             <div class="col-md-1"></div>
             <div class="col-md-5">
               <br>
               {% if profile.profile_photo %}
                <img src="{{profile.profile_photo.url}}" alt="profile" class="img-fluid"  style="border-radius: 50%;height:px;width:; box-shadow: 5px 5px 10px rgba(3,3,3,0.7);">
              {% endif %}
              <br>
              <br>
              <br>
             </div>
              <div class="col-md-5 text-left ml-5">
                  <br><br><br>
                <ul class="list-inline">
                    <li class="list-inline-item">
                    <h4> <span class=""> <b>{{ profile.user }}</b></span></h4>
                    </li>
                    <hr>
                    <br>
                  
                </ul>
                {% if profile.user == user %}
                <button style="border: solid 1px #333; padding: 1em;" class="btn btn-sm btn-outline-secondary btn-block mb-4 mx-auto" type="submit" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                               <i class="fas fa-upload fa-lg"></i><a style= "text-decoration: none;"href="{% url 'upload_project' %}">upload Project</a>
                             </button>
                {% endif %}  
                <h6 class=""> <b>Contact:</b> <em> {{profile.contact}}</em></h6>
                <h6 class=""> <b>Email:</b>  {{profile.email}}</h6>
                <p class="card-text"> <b>Bio: </b>  {{profile.bio|safe}} </p>
               <br>
              </div>
        </div>
  </div>
  <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <ul class="list-group">
            <li class="list-group-item text-center"><a href="{% url 'update-profile' %}">Edit Profile</a></li>
            <li class="list-group-item text-center"><a href="/logout/">Log Out</a></li>
            <li class="list-group-item text-center"><a data-dismiss="modal">Cancel</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div> 
<br>
{% endblock %}
 
     
   
     
       
         
          
           
            
      
         
           
 
