
<nav class="navbar navbar-expand-lg navbar-primary fixed-top navbar bg-light shadow-lg p-3 mb-5 bg-body rounded">
  <a class="navbar-brand" href=""><img src="" height="" width="" alt="" loading="lazy" style="" />Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="{%url 'homepage'%}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a  class="nav-link" href="/register" class=""> Register</a>
      </li>
      <li class="nav-item">
        <a  class="nav-link"href="/logout" class="">Log Out</a>
      </li>
      
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="/profile/{{user.id}}" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         Profile
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/profile/{{user.id}}">Profile</a>
          {% comment %} <a class="dropdown-item" href="">Create Profile</a> {% endcomment %}
          <a class="dropdown-item" href="{% url 'update-profile' %}">Update Profile</a>
        </div>
      </li>
     <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Trends
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="{% url 'post' %}">Mtaa Posts</a>
          <hr>
          <a class="dropdown-item" href="{% url 'information' %}">Emergencies</a>
          <hr>
          <a class="dropdown-item" href="{% url 'business' %}">Businesses</a>
          <hr>
          <a class="dropdown-item" href="{% url 'health' %}">Health</a>
          <hr>
          <a class="dropdown-item" href="{% url 'service' %}">Security</a>
        </div>
      </li>
    </ul>
  </div>
   <div class="col-2" >         
        <h5 style="margin-top: 10px; float:right;"> <a class="" href="/profile/{{user.id}}" style="text-decoration: none; font-weight: bold; margin-top:10px;color:black;"  title="User">{{user}} <i class="fa-solid fa-user ml-2"></i></a></h5>
    </div> 
</nav>